.rank-difference-icon-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.rank-difference-text-down {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
  color: red;
}

.rank-difference-text-up {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
  color: green;
}
